Hello {{.DisplayName}},

You have been invited to join {{.AppName}}.

Use the link below to finish setting your password and activate your account:
{{.InviteURL}}

This invite expires on {{.ExpiresAt}}.

If you were not expecting this message, you can ignore it.

Questions? Reply to {{.SupportEmail}}.
